<section [formGroup]="logic">

  <div id="rootNode">

    <label for="data">Data: </label>
    <input id="data" type="text"
               formControlName="data"
               autocomplete="off"
               required>

    <br>

    <label for="condition">Condition (type operation): </label>
    <input id="condition" type="text"
           formControlName="condition"
           autocomplete="off"
           required>

    <button type="button" [disabled]="!logic.valid" (click)="addNode()">Add node</button>
  </div>



</section>
