<div class="form-group">
  <label for="rule">Rule:</label><br>
  <textarea [(ngModel)]="jsonLogicClass.form" id="rule"></textarea>
</div>

<div class="form-group">
  <label for="data">Data:</label><br>
  <textarea [(ngModel)]="jsonLogicClass.data" id="data"></textarea>
</div>

<button (click)="applyLogic()">Apply Logic</button>

<div class="form-group">
  <label for="result">Result:</label><br>
  <textarea [(ngModel)]="jsonLogicClass.jsonlogicresult" id="result" readonly></textarea>
</div>

<div class="form-group">
  <label for="operations">Operations:</label><br>
  <textarea [(ngModel)]="jsonLogicClass.operations" id="operations" readonly></textarea>
</div>
